$font-stack: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
$primary-color: #000000;


body {
  font: 100% $font-stack;
  color: $primary-color;
}


nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline; }

  a {
    display: inline;
    padding: 6px 12px;
    text-decoration: none;
  }
}